@font-face {
    font-family:'bootstrap-icons';
    src: url("../fonts/bootstrap-icons.woff"), url("../fonts/bootstrap-icons.woff2");

}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0%;
    font-family: popins, sans-serif;
}

.container{
    background-color: #064372;
    height: 100vh;
    width: 300px
}
img{
    width: 90px;
    height: 90px;
    margin-left: 100px;
    border-radius: 50%;
    
}
h2{
    text-align: center;
    color: white;
}
.lien{
    margin-left: 35%;
    color: aqua;
}
ul li{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #065191;

    

   
    
}
ul li a {
    color: white;
    text-decoration: none   ;
    font-size: 18px;
    padding-left: 34px;
}
ul li a i{
    margin-right: 16px;
}
ul li:hover{
    background-color: #0880B4;
    transform:translatex(10px);
   
}
ul{
    padding: 0%;
}
ul li:hover a{
    transform:translate(50px);
}

       
